* {
font-family: roboto,sans-serif;
font-weight: 400;
font-style: normal;
}

h1, h2{
font-family: ff-market-web,sans-serif;
font-weight: 400;
color:#628600;
}

.navbar {
  background-color: #e1fd94a2;

}
button {
    color:#628600;
}

.nav-link {
    font-family: ff-market-web,sans-serif;
font-weight: 300;
font-style: normal;
font-size: 1.4rem;
color:#628600;

}
.nav-link:hover{
    color:#EF5829;
}

.nav-logo{
    width:4rem;
}


.hero{
    display: flex;
    flex-direction: row;
}

.main-image{
    background-image: url(../images/g-list-main-2.png);
    background-size:contain;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: -7rem;
    min-height:45vw;

}

.info{
    display: flex;
    flex-direction: column;
  align-items: center;
text-align: center;
    padding-right:1vw;
    margin-left: -8rem;
}
#title{
    margin-top: 2rem;
    margin-bottom: 1vw;
    line-height: 4vw;
    color:#628600;
    padding-right: 5rem;
    font-size: 3vw;
}

.logos{
 padding-top:1rem;
  width: 10vw;
  margin-right:5rem;
}

.insight-cards{
    margin-top: 4vw;
}

.card-body{
    text-align:center;
    align-items: center;
    justify-content: center;
    align-content: center;
min-height:30vw;
}
.card-title{
    margin-top:-2rem;
}
.card-text{
    padding-top: 25vw;

}
.time{
    background-image: url(../images/peppersmile.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.waste{
    background-image: url(../images/broccolitree.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.choices{
    background-image: url(../images/tomatheart.png);
    background-size:contain;
    background-repeat: no-repeat;
}
.row{
    margin:1vw;
}
.insights{
    margin-bottom: 1rem;
    padding-top:2rem;
}

h3{
font-family: ff-market-web,sans-serif;
font-weight: regular;
font-style: normal;
color:#171717;
font-size: 1.5rem;
}

.features{
    background-image: linear-gradient(rgba(255, 255, 255, 0), #FFF965);
height:100vw;

}
.card{
    background-color: transparent;
    border-width: 0;

}
.card-body2{
  
    display:flex;
    flex-direction: row;
min-height:20vw;
border-style: none;
justify-content: space-between;
align-items: center;
padding-left: 6vw;
padding-right: 6vw;
}
.card-text2{
    text-align: center;
    width:25vw;
}
.feature-icon{
   margin:4vw;
}
#guy{
    border-radius: 50vw;
    border-color: white;
    border-style:double;
    filter:drop-shadow( 0 0 20px rgba(210, 154, 2, 0.4));
}
@media only screen and (max-width:700px){
    .main-image{
        background-image: url(../images/g-list-main-mobile.png);
        background-size:contain;
        background-repeat: no-repeat;
        width: 100%;
        margin-top: -10vw;
        min-height: 120vw;
    
    }
    .hero{
        
        flex-direction: column;
    }
    .info{
        
        flex-direction: row;
        justify-content: space-around;
        padding-right:0;
        margin-left:4vw;
    }
    #title{
        font-size: 6vw;
        line-height: 7vw;
        margin-top: -210vw;
        margin-left: 70vw;

    }
    .logos{
        width: 20vw;  


    }
    
}